.btn {
  width: 100%;
  padding: 16px 0;
  margin-top: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #376bf2;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -0.53px;
  text-align: center;

  &:disabled {
    color: #8a8a8e;
    background-color: #f3f3f3;
    cursor: not-allowed;
  }

  &:focus {
    transform: translateY(-1px);
  }
}
